

<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<style type="text/css">
    body{
        background-image: url("/assets/background.jpeg");
    }
</style>
<head>

 <meta name="viewport" content="width=device-width, initial-scale=1.0" /
</head>

<body>
<div class ="navbar navbar-inverse navbar-static-top">
	
<ul class= "nav navbar-nav navbar-right">
                                                                 
<li><a href="users/sign_in"><strong>Login</strong></a></li>
                         <li><a href="users/sign_up"><strong>Sign Up</strong></a></li>
                        </ul>
</div>

<footer >
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
           
           <div class="col-md-4" >
            <font color="blue">Copyright &copy; 2016 CSC 667 Group # 4 </font>
            </div>

            <div class="col-md-8">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Home</a></li>
                    <li><a data-popup-open="#" href= "#">Terms &amp; Conditions</a></li>
                    <li><a data-popup-open="#" href="#">Privacy Policy</a></li>
                    <li><a data-popup-open="#" href="#">About Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>



</body>
</html>
